body{
    background-color: #152942;
    font-size: 16px;
    font-family: 'Averia Sans Libre', cursive;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* Path: way-finder\public\styles.css */


/* navbar */
#map {
    height: 100%;
    width: 100%;
}

.navbar {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Roboto';
}

.navbar a{
    color: #fff;
}
.navbar a:hover{
    color: #20B573;
}
nav{
    margin-top: 10px;
}
.logo{
    padding-right : 20%;
}


.tagline img{
    width: 100%;
    height: 100%;
    /* padding-top: 10%; */
    
}
.tagline{
    padding-top: 20px;
    max-width: 100%;
}
.tagline .boxV1 img{
    width:320px;
    height: 300px;
    margin-right: 20px;
    margin-top: 20px;
}
.tagline .boxV2 img{
    width:280px;
    height: 290px;
    margin-right: 10px;
}
.tagline .box img{
    width:700px;
    height: 190px;
    margin-right: 10px;
    margin-top: 20px;
}


/* for button  */
         
  .btn{
    background-color: #20B573;
    color: #fff;
    padding: 10px 35px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 35px 250px;
    }
    .btn:hover{
        background-color: #4cd497;
        color: #fff;
    }



    /* boxes for features  */
    .work-heading{
        max-width: 100%;
        margin-top: 150px;
    }
    .boxes{
        max-width: fit-content;
        margin-top:50px;
    }

    .boxes .boxBlue{
        background-color: #344C66;
        height: 150px;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        
    }
    .boxes .boxBlue h2{
        margin-top: 5px;
        font-size: 30px;
        color: #fff;
        font-family: 'Roboto';
    }
    .boxes .boxGreen{
        background-color: #20B573;
        height: 150px;
        padding: 20px;
        margin-top: 70px;
        text-align: center;
    }
    .boxes .boxGreen h2{
        margin-top: 5px;
        font-size: 30px;
        color: #fff;
        font-family: 'Roboto';
    }


    /* domains page   */

.domains{
    margin-top: 30px;
    background-color: #152942;
    max-width: 100%;
}
.domains .heading{
    text-align: center;
    color: #fff;
    
}
.domains .heading h1{
    margin-top: 50px;
    font-size: 50px;
    color: #fff;
    font-family: 'Averia Sans Libre';
}
.domains .subheading{
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto';
}

.category-section{
  max-width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}
.popularCategory{
  background-color: #344C66;
  max-width: fit-content;
  max-height: max-content;
  margin-right: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  border-radius: 10px;

}
.popularCategory h2{
  font-family: 'Roboto';
  margin-top: 20px;
  width: 400px;
  font-size: 35px;
  font-weight: 200;
  margin-left: 30px;
  text-align: left;
}

.category{
  width: 400px;
  display: flex;
  align-items: center;
  border-bottom: #fff solid 1px;
  margin-left: 30px;
  margin-right: 30px;

}

.category h4 {
  flex: 1;
  font-size: 1.1rem;
  text-align: left;
  margin-top: 20px;
}

.count {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  background-color: #F4F7FC;
  color: black;
  font-size: 1rem;
  margin-top: 20px;

}
.count:hover{
  background-color: #20B573;
}

.collection{
  max-width: 900px;
  margin-left: 50px;
  margin-top: 45px;
}



.collection-card{
  background-color: #344C66 ;
  width: 320px;
  height: 140px;
  margin-top: 10px;
  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.collection-card:hover{
  background-color: #20B573;
  cursor: pointer;

}

.card-icon{
  height: 80px;
  width: 80px;
  margin-left: 20px;
  background-color: #152942;
  border-radius: 50%;

}
.card-name{
  font-family: 'Roboto';
  font-size: 15px;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 200;
}



/* how it works  */
.work-section{
  background-color: #20354A;
}
.work-heading img{
    margin-left: 50px;
    margin-top: 70px;
}

.container-work {
    display: flex;
    align-items: flex-start;
    
  }
  
  .container-work .boxes {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  
  .box-work {
    background-color: #152942;
    width: 600px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    
  }
  
  .box-work .icon-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 60px;
  }
  
  .box-work.icon {
    display: block;
    width: 100%;
    height: auto;
    
  }
  .box-work .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .box-work.heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    text-align: right;
  }
  
  .box-work.description {
    font-size: 16px;
    color: #fff;
    text-align: right;

  }
  
  
  .container-work .vector-work img {
    margin-top: -30px;
    height: 600px;
    width: 600px;
    margin-left: 170px;
  }
  





  /* testimonial page  */
.test-container{
    margin-top: 200px;
    background-color: #20354A;
    max-width: 100%;
}
.testimonial-heading{
    text-align: center;
    color: #fff;
}
.testimonial-heading img{
    margin-top: 70px;
    margin-bottom: 20px; 
 }
.testimonial-heading p{
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto';
} 

.testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* background-color: #152942; */
  }
  
  .testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    padding: 30px;
    border-radius: 10px;
    background-color: #152942;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
  }
  
  .comment {
    font-size: 1.2rem;
    margin: 20px;
  }
  
  
  
  .details {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin:20px; */

  }
  .content{
    margin-left: 30px;
  }
  
  .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .testimonial-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .test-btn {
    background-color: #344C66;
    color: #152942;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .test-btn:hover {
    background-color: #152942;
    color: white;
  }
  


  /* for subscribe page  */

  .newsletter-title{
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }
  .newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 80px;
  }
  
  .newsletter-image {
    flex: 1;
    padding-right: 50px;
  }
  
  .newsletter-image img {
    max-width: 100%;
    height: auto;
  }
  
  .newsletter-form {
    flex: 1;
  }
  
  .form-row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .form-column {
    flex: 1;
    padding-right: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 0px ;
    background-color: #344C66;
    /* border-radius: 5px; */
  }
  
  button[type="submit"] {
    background-color: #20B573;
    color: #fff;
    border: none;
    border-radius: 80px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 200px;
    font-size: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #4cd497;
  }
  
  .newsletter-box{
    margin-top: 50px;
  }

  /* footer */
  .footer-container{
    margin-top: 50px;
  }

  .footer{
    max-width: 100%;
  }
  .footer .center{
    text-align: center;
    font-style: italic;
  }
  .footer .right{
    text-align: right;
    font-style: italic;
  }
  .copyright{
    text-align: center;
    font-style: italic;
  }
  .social-icon {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    margin-top: 0px;
  }

  .social{
    margin-left: -20px; 
  }




  /* resource section  */

  .resource-section h1{
    margin-top: 5%;
    font-size: 60px;
    color: #fff;
    font-family: 'Averia Sans Libre';
    text-align: center;
    margin-bottom: 1.5%;
  }
  .resource-form .search-bar{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  .resource-form{
    text-align: center;
  }
 .resource-form button{
  margin-top: 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #738d81;
  border: none;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 20px;
 }
 .resource-form button:hover{
  background-color: #20B573;
 }
 .scroll-resource{
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #20354A;
  padding: 50px;
 }
 .main-page .heading{
  display: flex;
  flex-direction: row;
  
 }
 .vectorimgleft{
  width: 200px;
  height: 200px;
  margin-top: 20px;
 }
 .main-page h1{
  font-size: 50px;
  color: #4cd497;
  font-family: 'Averia Sans Libre';
  text-align: center;
  margin-left: 60px;

 }
 .vectorimgcenter{
  width: 70%;
 }
  .vectorimgright{
    width: 300px;
    height: 300px;
    margin-top: 90px;
    /* margin-left: 30%; */

  }
  .desc{
    margin-left: 280px;
    margin-top: -200px;
    margin-bottom: 150px;
    font-size: 18px;
    font-family: 'Roboto';
    font-family: 'Averia Sans Libre';
  }

  .techVector{
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 40px;
    margin-top: 200px;
    margin-bottom: 100px;


  }
  .techHeading{
    height: 30px;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .technology{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
  }
  .technology h2{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    font-family: 'Roboto';

  }
  .third-page h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Averia Sans Libre';
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .blog-link h3{
    font-size: 25px;
    color: #20B573;
    font-family: 'Averia Sans Libre';
    text-align: center;
    margin-bottom: 50px;
  }
  .blog-link li{
    font-size: 15px;
    color: #fff;
    font-family: 'Averia Sans Libre';
    text-align: center;
    margin-bottom: 20px;
    
  }
  .list a{
    color: #fff;
    text-decoration: none;
  }
  .list a:hover{
    color: #20B573;
  }
